* { 
    box-sizing: border-box; 
}

/* Set Color Scheme here*/
:root {
  --light: #edc7b7;
  --lighter: #eee2dc;
  --dark: #123c69;
  --accent: #ac3b61;
  --greyish: #bab2b5;
}

main {
  color: var(--dark);
  overflow-x: hidden;
}

/* First big dip in size */
@media only screen and (max-width:995px) {
  .landingSection, .resultsSection {
    padding-top: 0px !important;
    margin-top: 0px !important;
  }

  .resultsPic {
    justify-content: center !important;
    width: 100% !important;
  }

  .form-label {
    margin: 0px !important;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* display:block by default, display:none after "Begin" button is pushed */
.myJumbotron {
  background-color: var(--light) !important;
  color: var(--dark);
  display: block;
}

.bg-dark {
  color: white !important;
  background: var(--dark) !important;
}

.btnBegin {
  background: var(--dark) !important;
}

.questionsContainer {
  display: grid;
  /* creating two equal columns, fr= fraction */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
}


/* display:flex by default, display:none after "Begin" button is pushed */
.landingSection {
  margin-top: 50px;
  display: flex;
}

.resultsSection {
  padding-top: 0px !important;
}

/* display:none by default, display:flex after "Begin" button is pushed, display:none after "Continue" button is pushed */
.checkboxSection {
  display: flex;
}

.btnContinue {
  margin-top: 15px;
  background: var(--dark) !important;
}

.btnAnswer {
  background: var(--dark) !important;
}

.questionPrompt {
  margin: 35px 0 35px 0;
}

/* display:none by default, display:inline after "Continue" button is pushed */
.questions {
  display: inline;
}

.questions h3 {
  margin: 55px;
}

.answerClass {
  list-style-type: none;
  width: 100%;
}

.btnSubmit {
  background: var(--dark) !important;
}

.myFooter {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--dark);
  color: var(--lighter);
  text-align: center;
  padding: 20px;
}

.myFooter a {
  color: var(--lighter);
}


/* Display:none by default, but under right circumstances display: '' */
#addressSection {
  display: '';
}

